/*
 * Asegúrate de que la fuente Lexend esté importada con un peso alto.
 * Por ejemplo, con 700 o 800.
 */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');

/* El resto de tus estilos CSS van aquí */

.info-envio-cotiza h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 700; /* Hace que el texto sea más grueso */
}

/* El resto de tus estilos */
.info-envio-cotiza, .info-envio-entrega {
    text-align: center;
    margin: 20px;
    max-width: 400px;
}
.info-envio-cotiza p, .info-envio-entrega p {
    font-size: 1rem;
    margin: 5px 0;
}
.info-envio-cotiza .couriers a {
    color: red;
    font-weight: 700; /* Asegúrate de que los enlaces sean gruesos */
    text-decoration: none;
}
.info-envio-cotiza .couriers a:hover {
    text-decoration: underline;
}
.info-envio-entrega .stock {
    color: red;
    font-weight: 700; /* Aplica negrita a este texto también */
}